<div class = "menu-background">
  <button mat-button [matMenuTriggerFor]="usuariosMenu" class="botaoMenu">Usuários</button>
  <mat-menu #usuariosMenu="matMenu" yPosition="below">
    <button mat-menu-item>Cadastrar usuário</button>
    <button mat-menu-item>Listagem de usuários</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="eventosMenu" class="botaoMenu">Eventos</button>
  <mat-menu #eventosMenu="matMenu" yPosition="below">
    <button mat-menu-item>Cadastrar evento</button>
    <button mat-menu-item>Listagem de eventos</button>
  </mat-menu>
</div>

