<div class = "menu-background">
  <button mat-button [matMenuTriggerFor]="usuariosMenu" class="botaoMenu">Usuários</button>
  <mat-menu #usuariosMenu="matMenu" yPosition="below">
    <button mat-menu-item [routerLink]="['/cadastrarusuario']">Cadastrar usuário</button>
    <button mat-menu-item [routerLink]="['/listarusuarios']">Listagem de usuários</button>
    <button mat-menu-item [routerLink]="['/tabelausuarios']">Tabela de usuários</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="eventosMenu" class="botaoMenu">Eventos</button>
  <mat-menu #eventosMenu="matMenu" yPosition="below">
    <button mat-menu-item [routerLink]="['/cadastrarevento']">Cadastrar evento</button>
    <button mat-menu-item [routerLink]="['/listareventos']">Listagem de eventos</button>
    <button mat-menu-item [routerLink]="['/tabelaeventos']">Tabela de eventos</button>
  </mat-menu>


</div>

